.cta__btn {
    text-decoration: none;
    margin: 50px 0 6px 0;
    display: flex;
    background: rgba(195,114,255,255);
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 1px 1px 3px 5px #0000002c;
}

.membership__cta .btn{
    text-decoration: none;
    margin: 50px 0 6px 0;
    display: inline-flex;
    background: rgba(195,114,255,255);
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}
.membership__cta{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
